@media screen and (max-width: 900px)
{
    .container{
        .header,
        .footer
        {
            display : none;
        }
        .main{
            .baner-form{
                @include Flex(flex,column,wrap,flex-start,center);
                .baner{
                    width :100%;
                }
                .form{
                    width : 100%;
                }
            }
        }
    }
}
@media screen and (max-width: 400px)
{
    .container{
        .main{
            .baner-form{
                .baner{
                    .baner-btn{
                        bottom : 20px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 300px)
{
    .container{
        .main{
            .baner-form{
                .baner{
                    .baner-btn{
                        bottom : 15px;
                    }
                }
            }
        }
    }
}