$width_container : 90%;
$width_100per : 100%;
$width_baner : 72.7%;
$width_form : 27.3%;
$btn-bottom : 30px;
$color_baner_btn : #0101AA;
$color_baner : #5B5BFF;
$color_form :#F0F0F0;
$color_btn_form :#4444FF;
