$widthContainer : 90%;
$width_100per : 100%;
$widthBaner : 72.7%;
$widthForm : 27.3%;
$btnBottom : 30px;
$colorBanerBtn : #0101AA;
$colorBaner : #5B5BFF;
$colorForm :#F0F0F0;
$colorBtnForm :#4444FF;
$colorBlog : #E9E9E9;

