@font-face {
  font-family: "IranSans";
  src: url("./assets/font/FontsFree-Net-ir_sans.ttf");
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "IranSans";
}

a {
  text-decoration: none;
}

html,
body {
  width: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  margin-top: 20px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container .main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .main .baner-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container .main .baner-form .baner {
  width: 72.7%;
  height: 220px;
  background-color: #5B5BFF;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .main .baner-form .baner .baner-title {
  padding: 0px 30px;
  text-align: center;
  color: white;
  font-size: 13px;
}

.container .main .baner-form .baner .baner-btn {
  color: white;
  background-color: #0101AA;
  border: none;
  padding: 5px 10px;
  font-size: 12px;
  position: absolute;
  bottom: 30px;
}

.container .main .baner-form .form {
  width: 27.3%;
  position: relative;
  height: 220px;
  background-color: #F0F0F0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .main .baner-form .form .input-form {
  width: 90%;
  height: 35px;
  margin-top: 10px;
  outline: none;
  padding: 0 10px;
  border: 1px solid #D3D3D3;
  text-align: center;
}

.container .main .baner-form .form .input-form::-webkit-input-placeholder {
  font-size: 12px;
}

.container .main .baner-form .form .input-form:-ms-input-placeholder {
  font-size: 12px;
}

.container .main .baner-form .form .input-form::-ms-input-placeholder {
  font-size: 12px;
}

.container .main .baner-form .form .input-form::placeholder {
  font-size: 12px;
}

.container .main .baner-form .form .btn-form {
  width: 90%;
  height: 35px;
  margin-top: 10px;
  border: none;
  color: white;
  background-color: #4444FF;
  font-size: 11px;
}

.container .main .baner-form .form a {
  color: #551A8B;
  position: absolute;
  bottom: 30px;
  font-size: 12px;
}

.container .main .baner-form .form a:active {
  color: red;
}

.container .main .title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.container .main .title .p-title {
  width: 150px;
  color: #1818FF;
  font-size: 14px;
  text-align: center;
}

.container .main .title hr {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container .main .blogs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .main .blogs .blog {
  width: 300px;
  height: 180px;
  background-color: #E9E9E9;
  direction: rtl;
  padding: 9px;
  margin: 5px 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container .main .blogs .blog p {
  font-size: 12px;
  margin: 10px;
}

.container .main .blogs .blog p:first-child {
  color: #0000FF;
}

.container .main .blogs .blog a {
  margin-right: 10px;
  color: gray;
}

.container .main .blogs .blog p:last-child {
  color: black;
}
/*# sourceMappingURL=main.css.map */