
@import "./assets/sass/mixin";
@import "./assets/sass/variable";
@font-face{
    font-family : "IranSans";
    src : url('./../font/FontsFree-Net-ir_sans.ttf')format("truetype");
}
*{
    padding : 0;
    margin : 0;
    box-sizing : border-box;
    font-family : "IranSans";
}
a{
    text-decoration : none;
}
html,
body{
    width : 100%;
}
body{
    @include Flex(flex,column,wrap, flex-start , center);
}
.container{
    margin-top : 20px;
    width : $widthContainer;
    @include Flex(flex,column,wrap,flex-start,center);
    .header{
        width : $width_100per;
        @include Flex(flex,row,nowrap,flex-start,flex-start);
    }
    .main
    {
        width :$width_100per;
        @include Flex(flex,column,wrap, center , center);
        .baner-form{
            width :$width_100per;
            @include Flex(flex,row,wrap,flex-start,flex-start);
            .baner{
                width : $widthBaner;
                height : 220px;
                background-color : $colorBaner;
                position : relative;
                @include Flex(flex,column,nowrap, center, center);
                .baner-title{
                    padding : 0px 30px; 
                    text-align : center;
                    color : white;
                    font-size : 13px;
                }
                .baner-btn{
                    color : white;
                    background-color : $colorBanerBtn;
                    border : none;
                    padding: 5px 10px;
                    font-size: 12px;
                    position : absolute;
                    bottom : $btnBottom;
                }
            }
            .form{
                width :$widthForm;
                position : relative;
                height : 220px;
                background-color :$colorForm;
                @include Flex(flex,column,wrap, flex-start , center);
                .input-form{
                    @include Form;
                    outline : none;
                    padding : 0 10px;
                    border : 1px solid #D3D3D3;
                    text-align : center;
                }
                .input-form::placeholder{
                    font-size : 12px;
                }
                .btn-form{
                    @include Form;
                    border : none;
                    color : white;
                    background-color: $colorBtnForm;
                    font-size : 11px;
                }
                a{
                    color:#551A8B;
                    position : absolute;
                    bottom : $btnBottom;
                    font-size : 12px;
                    &:active{
                        color :red;
                    }
                }
            }
        }
        .title{
            width : $width_100per;
            @include Flex(flex,row,nowrap,flex-start,center);
            margin : 20px 0;
            .p-title
            {
                width : 150px;
                color : #1818FF;
                font-size : 14px;
                text-align : center;
            }
            hr{
                flex-grow : 1;
            }
        }
        .blogs{
            width : $width_100per;
            @include Flex(flex,row,wrap,space-evenly,center);
            .blog{
                width : 300px;
                height : 180px;
                background-color : $colorBlog ;
                direction : rtl;
                padding : 9px;
                margin : 5px 1px;
                @include Flex(flex,column,wrap,flex-start,flex-start);
                p{
                    font-size : 12px;
                    margin : 10px;
                }
                p:first-child{
                    color :#0000FF;
                }
                a{
                    margin-right : 10px;
                    color : gray;
                }
                p:last-child{
                    color : black;
                }
            }
        }
    }
    .footer
    {
        width : $width_100per;
        padding : 5px 0;
        margin : 30px 0px;
        direction : rtl;
        ul{
            list-style-type : none;
            @include Flex(flex,row,nowrap, center , center);
            li{
                color : black;
                font-size : 13px;
                a{
                    color :#2E2EF7;
                }
            }
            li:nth-child(5)
            {
                a{
                    color :red;
                }
            }
        }
    }
}
@import "./assets/sass/responsive";

