@font-face {
  font-family: "IranSans";
  src: url("./../font/FontsFree-Net-ir_sans.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "IranSans";
}

a {
  text-decoration: none;
}

html,
body {
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.container {
  margin-top: 20px;
  width: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.container .header {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.container .main {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container .main .baner-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.container .main .baner-form .baner {
  width: 72.7%;
  height: 220px;
  background-color: #5B5BFF;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.container .main .baner-form .baner .baner-title {
  padding: 0px 30px;
  text-align: center;
  color: white;
  font-size: 13px;
}

.container .main .baner-form .baner .baner-btn {
  color: white;
  background-color: #0101AA;
  border: none;
  padding: 5px 10px;
  font-size: 12px;
  position: absolute;
  bottom: 30px;
}

.container .main .baner-form .form {
  width: 27.3%;
  position: relative;
  height: 220px;
  background-color: #F0F0F0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.container .main .baner-form .form .input-form {
  width: 90%;
  height: 35px;
  margin-top: 10px;
  outline: none;
  padding: 0 10px;
  border: 1px solid #D3D3D3;
  text-align: center;
}

.container .main .baner-form .form .input-form::placeholder {
  font-size: 12px;
}

.container .main .baner-form .form .btn-form {
  width: 90%;
  height: 35px;
  margin-top: 10px;
  border: none;
  color: white;
  background-color: #4444FF;
  font-size: 11px;
}

.container .main .baner-form .form a {
  color: #551A8B;
  position: absolute;
  bottom: 30px;
  font-size: 12px;
}

.container .main .baner-form .form a:active {
  color: red;
}

.container .main .title {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0;
}

.container .main .title .p-title {
  width: 150px;
  color: #1818FF;
  font-size: 14px;
  text-align: center;
}

.container .main .title hr {
  flex-grow: 1;
}

.container .main .blogs {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.container .main .blogs .blog {
  width: 300px;
  height: 180px;
  background-color: #E9E9E9;
  direction: rtl;
  padding: 9px;
  margin: 5px 1px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.container .main .blogs .blog p {
  font-size: 12px;
  margin: 10px;
}

.container .main .blogs .blog p:first-child {
  color: #0000FF;
}

.container .main .blogs .blog a {
  margin-right: 10px;
  color: gray;
}

.container .main .blogs .blog p:last-child {
  color: black;
}

.container .footer {
  width: 100%;
  padding: 5px 0;
  margin: 30px 0px;
  direction: rtl;
}

.container .footer ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.container .footer ul li {
  color: black;
  font-size: 13px;
}

.container .footer ul li a {
  color: #2E2EF7;
}

.container .footer ul li:nth-child(5) a {
  color: red;
}

@media screen and (max-width: 900px) {
  .container .header,
  .container .footer {
    display: none;
  }
  .container .main .baner-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
  .container .main .baner-form .baner {
    width: 100%;
  }
  .container .main .baner-form .form {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */